@import 'light.css';

html {
    scroll-behavior: initial !important;
}

body {
    font-size: 16px;
    overflow-y: auto;
}

.modal-open {
    overflow: hidden !important;
}

.content {
    padding: 1.5rem 2.5rem;
}

.input-group {
    width: auto;
}

.text-primary-dotted {
    border-bottom: 1px dashed;
}

.text-primary-dotted:hover {
    text-decoration: none;
}
.form-control,
.form-select {
    font-size: .95rem;
    padding: .5rem .8rem;
}

/* SIDEBAR */
.sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: auto;
}
.sidebar-brand a img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.sidebar-brand a {
    color: #fff;
    text-decoration: none;
}
.sidebar-brand a span {
    display: inline-block;
    vertical-align: middle;
}
.sidebar-user {
    color: #fff;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.sidebar-user a {
    display: block;
    text-decoration: none;
    color: #fff;
}
.sidebar-user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.sidebar-user-avatar img {
    width: 100%;
    height: 100%;
}
.badge-sidebar-primary,
.badge-sidebar-secondary {
    top: 15px;
}
/* SIDEBAR */


/* NAVBAR */
.navbar-expand .navbar-nav .dropdown-menu {
    right: 0;
}
/* NAVBER */

.catalog-page h1 {
    display: flex;
    align-items: center;
    line-height: 1;
}

.catalog-page .card a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #495057;
    text-decoration: none;
    height: 74px;
}
.catalog-page .card a:hover,
.catalog-page .card a:focus {
    color: #3f80ea;
}
.catalog-page .card a svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    color: #3f80ea;
}

.catalog-page .card a span {
    width: calc(100% - 24px);
}

.catalog-page .card .table tr td a {
    font-weight: 400;
    height: auto;
}

.catalog-page-search-icon {
    margin-right: 20px;
    opacity: 0.75;
}
.catalog-page-search-icon:hover,
.catalog-page-search-icon:focus {
    opacity: 1;
}
.catalog-page-search-icon svg {
    color: #495057;
    width: 24px;
    height: 24px;
}
.catalog-page-search-icon:hover svg,
.catalog-page-search-icon:focus  svg{
    color: #3f80ea;
}

.main {
    margin-left: 260px;
}


/* TABLE */
.table {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.table th {
    font-size: 0.8rem;
}
.table .rounded-circle {
    width: 30px;
    height: 30px;
}
table.dataTable {
    margin: 0;
}
/* TABLE */



/* CALCULATION */
.calculation-left-block-main-label {
    height: 60px;
    overflow: hidden;
    position: relative;
    line-height: 1.5;
    margin-top: -15px;
    margin-bottom: 10px;
}
.calculation-left-block-main-label strong {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 40px;
}
.calculation-left-block-main-label button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* CALCULATION */



/* FILEPOND */
.filepond--item {
    width: calc(25% - 0.5em);
}
/* FILEPOND */


/* ERRORS */
.border-danger {
    border-color: #d9534f;
}
/* ERRORS */



/* AUTH FORM */
/* #auth_form {
    -webkit-animation: auth_form_fade 1s;
            animation: auth_form_fade 1s;
}
@keyframes auth_form_fade {
    0% {opacity: 0;}
    95% {opacity: 0;}
    100% {opacity: 100%;}
} */
/* AUTH FORM */




/* PROJECT ITEM */

.project_chat {
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}

/* PROJECT ITEM */


/* TASK MODAL */
.tasks-page {
    height: calc(100vh - 3rem);
    position: relative;
}
.tasks-page-header {
    align-items: center;
    height: 50px;
    margin-bottom: 25px;
}
.tasks-page-board {
    overflow-x: auto;
	white-space: nowrap;
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    height: calc(100% - 75px);
    padding: 0 2.5rem;
}
.tasks-page-board::-webkit-scrollbar {
    height: 8px;
}
.tasks-page-board::-webkit-scrollbar-track {
    background: #f1f1f1;
    margin: 0 2.5rem;
}
.tasks-page-board::-webkit-scrollbar-thumb {
    background: #3f80ea;
    border-radius: 5px;
}
.tasks-page-board::-webkit-scrollbar-thumb:hover {
    background: #3f80ea;
}
.tasks-page-board .task-column {
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-right: 10px;
    background-color: #fff;
    box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 10%);
    padding: 5px;
    padding-bottom: 10px;
    border-radius: 6px;
}
.tasks-page-board .card-header {
    padding: 5px;
}
.tasks-page-board .task-column-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: calc(75vh - 75px);
    padding: 10px 5px;
    padding-bottom: 40px;
}
.tasks-page-board .task-column-body::-webkit-scrollbar {
    width: 5px;
}
.tasks-page-board .task-column-body::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.tasks-page-board .task-column-body::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 5px;
}
.tasks-page-board .task-column-body::-webkit-scrollbar-thumb:hover {
    background: #a7a7a7;
}
.tasks-page-board .task-column-body .card-body {
    border-radius: 6px;
    border: 0;
    box-shadow: 0 1.5px 0 rgba(0,0,0,0.25);
}
.sortable-ghost {
    transform: rotate(4deg) !important;
    border: 2px solid rgba(63, 128, 234, 0.5) !important;
    border-radius: 6px !important;
    opacity: 1 !important;
}
.sortable-drag {
    opacity: 0 !important;
}
.tasks-page .modal {
    overflow-y: auto;
}
.text-comment-date {
    font-size: 10px;
    color: #999;
    text-align: center;
}
.tasks-page .modal-title {
    font-size: 20px;
}
.tasks-page .modal-body {
    padding: 0;
    margin-top: 0 !important;
}
.tasks-page .modal-header {
    border: 0;
    padding-bottom: 0;
}
.tasks-page .task-modal-comments {
    margin-top: 40px;
    position: relative;
}
.tasks-page .task-modal-comments .btn-primary {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    line-height: 35px;
}
.tasks-page .task-modal-comments .btn-primary svg {
    width: 20px;
    height: 20px;
    line-height: 1;
    display: block;
    margin: 0 auto;
}
.tasks-page .modal-body .dropdown-menu {
    width: 100%;
    box-shadow: 0 1px 10px rgb(0 0 0 / 25%);
    border: 0;
    height: 200px;
    overflow-y: auto;
}
.tasks-new-board-form {

}
/* TASK MODAL */


/* NOTIFICATION */
.notyf__toast {
    position: fixed;
    bottom: 40px;
    right: 25px;
    color: #fff;
    padding: 0 5px;
}
.notyf__wrapper {
    padding: 5px;
}
/* NOTIFICATION */