@import 'light.css';

html {
    scroll-behavior: initial !important;
}

body {
    font-size: 16px;
}

.content {
    padding: 1.5rem 2.5rem;
}

.input-group {
    width: auto;
}

.text-primary-dotted {
    border-bottom: 1px dashed;
}

.text-primary-dotted:hover {
    text-decoration: none;
}
.form-control,
.form-select {
    font-size: .95rem;
    padding: .5rem .8rem;
}

/* SIDEBAR */
.sidebar-brand a img {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.sidebar-brand a {
    color: #fff;
    text-decoration: none;
}
.sidebar-brand a span {
    display: inline-block;
    vertical-align: middle;
}
.badge-sidebar-primary,
.badge-sidebar-secondary {
    top: 15px;
}
/* SIDEBAR */


/* NAVBAR */
.navbar-expand .navbar-nav .dropdown-menu {
    right: 0;
}
/* NAVBER */

.catalog-page h1 {
    display: flex;
    align-items: center;
    line-height: 1;
}

.catalog-page .card a {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #495057;
    text-decoration: none;
}
.catalog-page .card a:hover,
.catalog-page .card a:focus {
    color: #3f80ea;
}
.catalog-page .card a svg {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    color: #3f80ea;
}

.catalog-page .card .table tr td a {
    font-weight: 400;
}

.catalog-page-search-icon {
    margin-right: 20px;
    opacity: 0.75;
}
.catalog-page-search-icon:hover,
.catalog-page-search-icon:focus {
    opacity: 1;
}
.catalog-page-search-icon svg {
    color: #495057;
    width: 24px;
    height: 24px;
}
.catalog-page-search-icon:hover svg,
.catalog-page-search-icon:focus  svg{
    color: #3f80ea;
}


/* TABLE */
.table {
    margin-bottom: 0;
    font-size: 0.9rem;
}
.table th {
    font-size: 0.8rem;
}
.table .rounded-circle {
    width: 30px;
    height: 30px;
}
table.dataTable {
    margin: 0;
}
/* TABLE */


/* FILEPOND */
.filepond--item {
    width: calc(25% - 0.5em);
}
/* FILEPOND */


/* ERRORS */
.border-danger {
    border-color: #d9534f;
}
/* ERRORS */





/* PROJECT ITEM */

.project_chat {
    border: 2px solid #eee;
    padding: 15px;
    border-radius: 5px;
    max-height: 500px;
    overflow-y: auto;
}

/* PROJECT ITEM */